<h1>About</h1>
<p>I always wondered what type of wine tastes good when I go to a store, especially the low cost ones.  I don't have a professional palette and not sure if I can rely on the wine's score.  So I've created this website where you can purchase wine recommended by others just like you.</p>
