// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
  font-family: 'Shadows Into Light', cursive;
  color: #777777;
  text-align: center;
  margin-top: 70px;
}

/**** Navbar ****/
.site-name {
  font-family: 'Shadows Into Light', cursive;
  font-size: 30px;
}

.site-name a {
  color: red;
}

.nav {
  text-transform: uppercase;
}

.anchor {
  padding-top: 50px;
}

/**** Body ****/
p {
  text-align: center;
}

.img-responsive {
  display: block;
  margin: auto;
}



/**** Footer ****/
footer {
  text-align: right;
  margin-right: 20px;
}
