// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#signup {
  text-align: center;
}

h2 {
  font-family: 'Shadows Into Light', cursive;
  color: #777777;
  text-align: center;
  margin-top: 70px;
}

#login {
  text-align: center;
}
